.button {
    display      : inline-block;
    color        : var(--white-color) !important;
    padding      : 0 34px;
    height       : 55px;
    line-height  : 55px;
    border-radius: 55px;
    font-size    : 20px;
    font-weight  : bold;
    transition   : all 0.3s;
    position     : relative;
    cursor       : pointer;
    opacity      : 0;
    font-family  : "Circular Std";

    @media screen and (max-width: 992px) {
        font-size: 18px;
    }

    &.show {
        opacity: 1;
    }

    &.withArrow {
        padding-left : 25px;
        padding-right: 50px !important;

    }

    &:hover {
        text-decoration: none;
        box-shadow     : 0px 5px 10px rgba(0, 0, 0, 0.2);

        .arrow {
            top       : calc(50% + 2px) !important;
            transform : translateY(-50%);
            // display: none !important;
        }
    }

    .arrow {
        transition: all 0.1s ease;
        width     : 20px !important;
        position  : absolute;
        right     : 20px;
        top       : 50%;
        transform : translateY(-50%);
    }

    &.primary {
        background: linear-gradient(90deg,
                #fe5000 0%,
                #ef4b20 51.72%,
                #fb8f22 100%,
                #bda79e 100%);

        &.loading {
            opacity       : 0.4;
            pointer-events: none;
        }

        &.success {
            padding-right      : 70px;
            background-size    : 20px;
            background-repeat  : no-repeat;
            background-position: center right 20px;

            &:hover {}
        }

        &.error {
            padding-right      : 70px;
            background-size    : 20px;
            background-repeat  : no-repeat;
            background-position: center right 20px;

            &:hover {}
        }

        @media screen and (max-width: 768px) {
            height     : auto;
            padding    : 10px 0px;
            line-height: 20px;
            min-width  : 80%;
            font-size  : 16px;
            text-align : center;
            margin-left: 10%;
            margin-right: 10%;
        }


        @media screen and (max-width: 360px) {
            min-width  : 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    &.secondary {
        background-color: var(--white-color);
        color           : #404040 !important;

        &:after {
            background: #fff !important;
        }

        &:hover {}

        @media screen and (max-width: 768px) {
            height     : auto;
            padding    : 10px 20px;
            line-height: 20px;
            font-size  : 16px;
            text-align : center;
        }
    }

    &.line,
    &.tertiary {
        color     : #abba58;
        cursor    : pointer;
        margin-top: 12px;
        display   : inline-block;

        &:hover {
            .arrow {
                left: 20px;
            }
        }
    }

    @media screen and (max-width: 992px) {
        padding: 0px 20px;
    }
}