.video {
    color     : #1D1D1D;
    text-align: center;
    width     : 100%;

    video {
        -webkit-mask-image         : -webkit-radial-gradient(white, black);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility   : hidden;
        width                      : 100%;
    }
}