@keyframes animation {
    0% {
        opacity: 0;
        top    : 100%;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top    : 0px;
    }
}

@-o-keyframes animation {
    0% {
        opacity: 0;
        top    : 100%;

    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top    : 0px;
    }
}

@-moz-keyframes animation {
    0% {
        opacity: 0;
        top    : 100%;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top    : 0px;
    }
}

@-webkit-keyframes animation {
    0% {
        opacity: 0;
        top    : 100%;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top    : 0px;
    }
}

.arrow {
    -webkit-animation: animation 3s infinite linear;
    -moz-animation   : animation 3s infinite linear;
    -o-animation     : animation 3s infinite linear;
    animation        : animation 3s infinite linear;
    position         : absolute;
    width            : 34px;
    height           : 18px;
    opacity          : 0;
    left             : 0px;

    @media screen and (max-width: 768px) {
        width : 24px;
        height: 13px;
    }

    &:first-child {
        animation-delay: 0s;
    }

    &:nth-child(2n) {
        animation-delay: 1s;
    }

    &:nth-child(3) {
        animation-delay: 2s;
    }

}

.animationWrapper {
    position       : absolute;
    bottom         : 30px;
    left           : 0px;
    width          : 100vw;
    display        : none;
    justify-content: center;
    text-align     : center;
    height         : 170px;

    @media screen and (max-width: 768px) {
        position: relative;
        top     : 60px;
        left    : 0px;
        height  : 100px;
    }

    @media screen and (max-width: 400px) {
        position: relative;
        top     : 0px;
        left    : 0px;
        height  : 100px;
    }

    @media screen and (max-width: 992px) {
        width: 100%;
    }

    @media screen and (max-width: 1100px) {
        display: block;
    }

    .label {
        color      : white;
        font-family: "Circular Std";
        font-size  : 36px;
        position   : absolute;
        bottom     : 0px;
        width      : 100%;
        text-align : center;

        @media screen and (max-width: 768px) {
            font-size: 20px;
        }

    }

    .animationContainer {
        position: absolute;
        top     : 0px;
        left    : calc(50% - 17px);
        height  : 100px;
        width   : 34px;

        @media screen and (max-width: 768px) {
            left  : calc(50% - 12px);
            height: 50px;
        }


    }

}