.image {
    @media screen and (max-width: 992px) {
        max-width: 100% !important;
    }
}

.rounded {
    border-radius: 20px;
    display      : block;
    overflow     : hidden;

    & img {
        border-radius: 20px;
    }
}