.scrollLineBar {
	position: fixed;
	z-index: 99999;
	left: 0;
	top: 0;
	height: 50%;
	width: 2px;
	transition: all 0.3;
	// background: linear-gradient(180deg, #fe5000 0%, #ef4b20 35%, #fb8f22);
	background: linear-gradient(
		180deg,
		rgba(254, 80, 0, 1) 0%,
		rgba(239, 75, 32, 1) 35%,
		#fb8f22 100%
	);
}
