.Burger {
    width          : 42px;
    max-width      : 42px;
    height         : 34px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-between;
    cursor         : pointer;

    @media screen and (max-width: 768px) {
        width       : 26px;
        max-width   : 26px;
        height      : 21px;
        margin-top  : 8px;
        margin-right: 20px;
    }

    .line {
        width        : 100%;
        height       : 5px;
        background   : #fe5000;
        border-radius: 5px;
        transition   : 0.5s;

        @media screen and (max-width: 768px) {
            height: 3px;
        }
    }

    &:hover {
        .line {
            &:first-child {
                transform: translateY(2px);
            }

            &:last-child {
                transform: translateY(-2px);
            }
        }
    }

    &.clicked {
        .line {

            background-color: #404040 !important;

            &:first-child {
                transform: translateY(15px) rotate(135deg);

                @media screen and (max-width: 768px) {
                    transform: translateY(9px) rotate(135deg);
                }
            }

            &:last-child {
                transform: translateY(-15px) rotate(-135deg);

                @media screen and (max-width: 768px) {
                    transform: translateY(-9px) rotate(-135deg);
                }

            }

            &:nth-child(2) {
                transform: scale(0);

            }

        }
    }
}

.inactive {

    &.white {
        .line {
            background: #fff;
        }
    }

    .line {
        @media screen and (max-width: 1100px) {
            background: #fff;
        }
    }
}