.item {
    color: black;
}

.container {
    color      : black;
    width      : 50%;
    display    : block;
    padding-top: 50px;
    position   : relative;

    @media screen and (max-width: 992px) {
        width: 100%;
    }
}

.bullet {
    width           : 40px;
    height          : 40px;
    position        : absolute;
    left            : 100px;
    display         : block;
    background-color: blue;
}