.container {

    width         : 100%;
    display       : block;
    position      : relative;
    padding-bottom: 126px;

    @media screen and (max-width: 768px) {
        padding-bottom: 74px;
    }

    @media screen and (max-width: 992px) {
        max-width: 500px;
        margin   : 0px auto;
    }

    .img {
        display      : inline-block;
        border-radius: 20px;
        box-shadow   : 0px 3px 6px rgba(0, 0, 0, 0.16);
        height: auto;
    }

    .logo {
        display         : inline-block;
        position        : absolute;
        padding         : 30px;
        width           : 311px;
        height          : 178px;
        object-fit      : contain;
        background-color: white;
        border-radius   : 20px;
        box-shadow      : 0px 3px 6px rgba(0, 0, 0, 0.16);
        bottom          : 0px;
        left            : 50%;
        transform       : translateX(-50%);

        @media screen and (max-width: 768px) {
            width  : 166px;
            padding: 18px;
            height : 102px;
        }

    }
}