@keyframes handmade_logo {
        to { background-position-y: -5290px; }
    }

    .logo {
        width: 250px;
        height: 35px;
        background: url(./sprite_sheet.png) -10px -10px;
    }

    .logo.activated {
        animation: handmade_logo 3s steps(96) forwards;
    }