.listItems {
    padding     : 0;
    margin      : 0;
    list-style  : none;
    // max-width: 590px;
}

.listItem {
    position      : relative;
    margin-bottom : 18px;
    padding-left  : 40px;
    font-family   : "DM Sans", sans-serif;
    font-weight   : 400;
    letter-spacing: 0pt;

    &:last-child {
        margin-bottom: 0;
    }

    &:before {
        content        : "";
        width          : 25px;
        height         : 25px;
        display        : block;
        background     : url("./dot@2x.png") no-repeat;
        background-size: 25px;
        position       : absolute;
        left           : 0;
        top            : 0px;
        bottom         : 0;
    }

    @media screen and (max-width: 768px) {
        font-size    : 16px;
        line-height  : 21px;
        margin-bottom: 17px;
        padding-left : 30px;

        &:before {
            width          : 18px;
            height         : 18px;
            background-size: 18px;
        }
    }
}

.listItemWhite {
    &:before {
        background     : url("./whiteDot.png") no-repeat !important;
        background-size: contain !important;
    }
}