.languageSwitcher {
    width   : 60px;
    height  : 36px;
    position: relative;

    .icon {
        position: absolute;
        top     : 8px;
        left    : 30px;
        z-index : 2;
        width   : 30px;
        height  : 30px;

        &.second {
            * {
                fill: var(--text-color);
            }

            width: 23px;
            left : 0px;
            top  : 2px;
        }
    }

    &.white .icon * {
        fill: white;
    }

    ul {
        visibility      : hidden;
        opacity         : 0;
        font-weight     : bold;
        padding-top     : 50px;
        padding-bottom  : 20px;
        padding-left    : 0;
        padding-right   : 0;
        margin          : 0;
        background-color: #fafafa;
        border-radius   : 34px;
        list-style      : none;
        text-align      : center;
        position        : relative;
        z-index         : 1;
        transition      : all 0.3s;

        a {
            color: #404040 !important;

            &:hover {
                opacity: 0.7;
            }
        }

        button {
            font-weight: bold;
            cursor     : pointer;
            font-size  : 22px;

            @media screen and (max-width: 992px) {
                font-size: 18px;
            }
        }

        .active {
            a {
                color: var(--orange-color) !important;
            }
        }
    }

    .chevron {
        transition: 0.3s ease all;
    }

    &.open {

        .label {
            opacity: 0.5;
        }

        .chevron {
            opacity  : 0.5;
            transform: rotate(180deg);
        }

        .icon {

            opacity: 0.5;

            * {
                fill: url("#linear-gradient-lang");
            }
        }

        &.second {
            * {
                fill: var(--text-color);
            }

        }

        ul {
            visibility: visible;
            opacity   : 1;
        }
    }
}

.second {
    display    : flex;
    align-items: center;
    cursor     : pointer;
    width      : auto;
    font-family: "Circular Std";

    &:before {
        background-image: url("./whiteSwitcher.png");
        background-size : 25px 25px;
        width           : 25px;
        height          : 25px;

        * {
            fill: var(--text-color);
        }
    }

    .label {
        font-size  : 18px;
        margin-left: 30px;
        color      : var(--text-color);
    }

    &:hover {
        .label {
            opacity: 0.7;
        }

        .chevron {
            opacity: 0.7;
        }

        svg {
            opacity: 0.7;
        }
    }

    &.open {
        .label {
            opacity: 0.5;
        }
    }

    ul {
        position  : absolute;
        bottom    : 40px;
        width     : 200px;
        height    : 100px;
        padding   : 22px 10px !important;
        visibility: visible;
        opacity   : 1;

        // &:hover {
        //     & {
        //         visibility: visible;
        //         opacity   : 1;
        //     }

        //     .chevron {
        //         transform: rotate(90deg);
        //     }
        // }

        .active {
            a {
                color: #fe5000 !important;
            }
        }

        a {
            color        : #404040 !important;
            margin-right : 0 !important;
            margin-bottom: 10px !important;
        }
    }
}

.languageSwitcherMobile {
    a {

        transition: 0.2s ease opacity;

        &:hover {
            opacity        : 0.7;
            text-decoration: none;
        }
    }
}