.person {
    display    : flex;
    align-items: flex-end;
    max-width  : 100%;

    img {
        width       : 80px;
        margin-right: 30px;

        @media screen and (max-width: 768px) {
            width: 50px;
        }

    }

    .name {
        font-size    : 24px;
        margin-bottom: 5px;

        @media screen and (max-width: 768px) {
            font-size    : 16px;
            margin-bottom: 0px;
        }
    }

    .title {
        margin-bottom : 5px;
        font-size     : 19px;
        text-transform: uppercase;
        color        : #707070;
        font-family  : "Circular Std";

        @media screen and (max-width: 768px) {
            font-size    : 15px;
            margin-bottom: 0px;
        }

    }
}