.social {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: flex-end;
	font-size: 22px;
	li {
		margin-right: 30px !important;
		height: 100%;
		&:last-child {
			margin-right: 0 !important;
		}
	}
	a {
		display: flex;
	}
	svg {
		transition: all 0.3s;
		width: 22px;
		height: auto;
		&:hover {
			opacity: 0.7;
		}
	}
}
