.menu {
    background      : var(--white-color);
    position        : fixed;
    top             : 0px;
    right           : 0px;
    width           : 100%;
    height          : 100vh;
    z-index         : 160;
    transform       : translateX(100%);
    transition      : all 0.3s;
    background-color: white;
    font-family     : "Circular Std";
    overflow        : scroll;

    :global(.col4) {
        margin       : 0px;
        margin-bottom: 0px !important;

        &:last-child {
            li {
                &:last-child {
                    border-bottom: 0px #7070700d solid;
                }
            }
        }
    }

    ul.items {
        padding   : 0;
        list-style: none;
        font-size : 45px;

        @media screen and (max-width: 992px) {
            margin   : 0px;
            font-size: 22px;
            width    : 100%;
        }

        li {
            padding: 10px 0;

            @media screen and (max-width: 992px) {
                border-bottom: 3px solid #FAFAFA;
                display      : block;
                width        : 100%;
            }

            a {
                color        : #474747;
                transition   : 0.2s ease all;
                border-bottom: 4px solid transparent;

                @media screen and (max-width: 992px) {
                    border-bottom: 3px solid transparent;
                }

                &:hover {
                    text-decoration: none;
                    border-bottom  : 4px solid #474747;

                    @media screen and (max-width: 992px) {
                        border-bottom: 3px solid #474747;
                    }
                }
            }

            &.active {
                a {
                    color: var(--orange-color);
                }
            }

        }
    }

    .footerContainer {
        display   : flex;
        margin-top: 30px;
        padding   : 0px 10px;

        @media screen and (max-width: 375px) {
            flex-direction: column;
        }

        .footerContainerItem {
            width: 50%;

            @media screen and (max-width: 375px) {
                width: 100%;
            }

            :global(.button) {
                margin-left: 10px;

                @media screen and (max-width: 375px) {
                    width      : 100%;
                    margin-left: 0px;
                }

            }

            .secondMenu {
                margin: 0px;

                @media screen and (max-width: 375px) {
                    text-align: center;
                }

            }
        }

    }

    .secondMenu {
        font-size      : 22px;
        list-style     : none;
        padding        : 0;
        display        : flex;
        font-weight    : bold;
        bottom         : 100px;
        right          : 20px;
        justify-content: flex-end;

        a {
            color: #474747;

            &:hover {}
        }

        li {
            margin: 10px;
        }

        .active {
            a {
                color: var(--orange-color);
            }
        }
    }
}

.active {
    color    : #707070;
    transform: translateX(0);
}

.closeButton {
    font-size: 40px;
    top      : 10px;
    right    : 10px;
    cursor   : pointer;
}

.overlay {
    width           : 100vw;
    height          : 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position        : fixed;
    left            : 0px;
    top             : 0px;
    display         : block;
    z-index         : 150;
}

.container {
    position: relative;
    width   : 100%;
}

.header,
.footer {
    height : 80px;
    display: flex;

    .col6 {
        display    : flex;
        align-items: center;
    }

    @media screen and (max-width: 1320px) {
        height: 52px;
    }
}


.header {
    margin-top: 100px;
}

.footer {
    a {
        color: #474747;
    }

    :global(.container) {
        border-top: 3px solid #FAFAFA;
    }

}

.content {
    display       : flex;
    align-items: center;
    height        : calc(100% - 240px);
    margin-top    : 120px;


    @media screen and (max-width: 992px) {
        height     : calc(100% - 120px);
        align-items: flex-start;
    }

}

.footerMenu {
    margin-left: 56px;

    a {
        margin       : 0 20px;
        transition   : all 0.2s ease;
        border-bottom: 3px solid transparent;

        &:hover {
            text-decoration: none;
            border-bottom  : 3px solid #474747;
        }

    }
}

.logo {
    @media screen and (max-width: 768px) {
        display: none;
    }
}