.straight {
    opacity       : 0;
    text-transform: uppercase;
    margin-bottom : 10px;

    p {
        font-size     : 20px;
        letter-spacing: 1.4px;
        font-weight   : 400;

        @media screen and (max-width: 768px) {
            font-size: 14.5px;
        }
    }
}

.classic {
    opacity: 0;

    p {
        font-size     : 22px;
        line-height   : 30px;
        font-weight   : 400;
        letter-spacing: 0;

        @media screen and (max-width: 768px) {
            font-size  : 16px;
            line-height: 23px;
        }
    }
}

.show {
    opacity: 1;
}

.text-container-75 {

    .classic,
    .straight {
        width: 75% !important;

        @media screen and (max-width: 1100px) {
            width: 100% !important;
        }
    }
}