.callToAction {
    min-height : 915px;
    height     : auto;
    display    : flex;
    align-items: flex-start;
    text-align : center;
    position   : relative;
    padding-top: 266px;

    .shape {
        position: absolute;
        z-index : -1;
        top     : 0px;
        left    : 0px;
    }

    h2,
    h1 {
        color         : var(--white-color);
        max-width     : 700px;
        margin-bottom : 30px;
        letter-spacing: 0.5pt;
        font-size     : 46px;
        line-height   : 56px;

        @media screen and (max-width: 768px) {
            font-size  : 28px !important;
            line-height: 33px
        }

    }

    svg {
        // @media screen and (max-width: 992px) {
        //     height     : auto;
        //     padding    : 30px 0;
        //     min-height : 815px;
        //     align-items: center;
        // }

        // @media screen and (max-width: 768px) {
        //     height     : auto;
        //     padding    : 30px 0;
        //     min-height : 450px;
        //     align-items: center;
        // }
    }

    @media screen and (max-width: 992px) {
        height     : auto;
        padding    : 30px 0;
        min-height : 815px;
        align-items: center;
    }

    @media screen and (max-width: 768px) {
        height     : auto;
        padding    : 30px 0;
        min-height : 450px;
        align-items: center;
    }

}