.container {

    width   : 100%;
    height  : 400px;
    display : block;
    position: relative;

    @media screen and (max-width: 768px) {
        height: auto;
    }

    &.two {

        // @media screen and (max-width: 768px) {
        //     display        : flex;
        //     justify-content: center;
        // }

        .imageContainer {

            position: absolute;
            margin  : 0;

            @media screen and (max-width: 768px) {
                box-shadow   : none;
                position     : relative;
                top          : 0px !important;
                bottom       : 0px !important;
                left         : auto !important;
                right        : auto !important;
                margin       : 0px;
                margin-bottom: 40px;
            }

            &>div {
                width              : 100%;
                max-width          : 300px;
                // min-height      : 180px;
                display            : flex;
                align-items        : center;
                justify-content    : center;
                padding            : 50px;
                background-color   : white;
                box-shadow         : 0px 0px 10px rgba(0, 0, 0, 0.16);
                border-radius      : 20px;

                &>div {
                    @media screen and (max-width: 768px) {
                        height     : 50px;
                        display    : flex;
                        align-items: center;
                    }
                }

                @media screen and (max-width: 768px) {
                    // width           : auto;
                    max-width          : 100%;
                    padding            : 20px 50px;
                    height             : 90px;
                    // background-color: transparent;
                    // box-shadow      : 0px 0px 0px rgba(0, 0, 0, 0.16);
                    // border-radius   : 0px;

                }

            }

            &.first {
                top  : 0px;
                right: 0px;
            }

            &.second {
                bottom: -60px;
                left  : 0px;

                &>div {

                    &>div {
                        @media screen and (max-width: 768px) {
                            height: 40px;
                        }

                        img {
                            @media screen and (max-width: 768px) {
                                height: 40px;
                            }
                        }


                    }

                }

            }

            img {
                // width                          : 100%;
                // @media screen and (max-width: 768px) {
                //     max-height: 80%;
                // }
            }
        }
    }

    &.three {

        min-height: 500px;

        @media screen and (max-width: 768px) {
            min-height: 330px;
        }

        .imageContainer {

            img {
                box-shadow   : 0px 0px 10px rgba(0, 0, 0, 0.16);
                border-radius: 20px;
                overflow     : hidden;
            }

            &>div {
                width: 100%;
            }

            position : absolute;

            &.first {
                top      : -20px;
                right    : 70px;
                max-width: 320px;

                @media screen and (max-width: 768px) {
                    right: 20px;
                    left : 20px;
                }
            }

            &.second {
                top      : 100px;
                right    : -50px;
                max-width: 330px;
                z-index  : 2;

                @media screen and (max-width: 768px) {
                    top      : 50px;
                    right    : -50px;
                    max-width: 200px;
                }
            }

            &.third {
                bottom   : -80px;
                left     : 60px;
                max-width: 70%;

                @media screen and (max-width: 768px) {
                    top      : 150px;
                    left     : -40px;
                    max-width: 80%;
                }
            }

            img {
                width: 100%;
            }
        }
    }

}