.form {
    width: 100%;

    @media screen and (max-width: 992px) {
        // margin-top: 80px;
    }

    @media screen and (max-width: 768px) {
        // margin-top: 40px;
    }

    .inputGroup {
        margin-bottom: 20px;
        width        : 100%;
    }

    input,
    textarea,
    input[type="file"]+label {
        height       : 56px;
        width        : 100%;
        box-shadow   : 0px 1px 15px rgba(0, 0, 0, 0.16);
        border-radius: 28px;
        padding      : 0 20px;
        outline      : none;
        font-size    : 20px;
        display      : inline-block;
        font-family  : "DM Sans";
        font-weight  : 400;

        @media screen and (max-width: 768px) {
            font-size: 13px;
            height   : 38px;
        }

        &:focus {
            box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-top: 0px;
        }
    }

    input,
    textarea,
    .fileLabel {

        border: 1px solid transparent;

        &.error {
            border: 1px solid #FE5000;

            &::placeholder {
                color: #FE5000;
            }
        }
    }

    .fileLabel {
        &.error {
            color: #FE5000;
        }
    }

    label {
        font-size  : 22px;
        font-weight: bold;
        margin     : 10px 0;
        display    : inline-block;
        color      : var(--text-color);

        @media screen and (max-width: 768px) {
            font-size    : 16px;
            margin       : 0px;
            margin-bottom: 10px;
        }

        span {
            display    : inline-block;
            margin-left: 5px;
            color      : red;
        }
    }

    input[type="file"]+label {
        background-image   : url(../../../images/upload.png);
        background-repeat  : no-repeat;
        background-size    : 25px;
        background-position: right 27px center;
        cursor             : pointer;
        transition         : 0.2s ease all;
        display            : flex;
        align-items        : center;
        color              : rgba(0, 0, 0, 0.35);

        &.selected {
            color           : var(--text-color);
            background-image: url(../../../images/checkOrange.png);
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 10px;
        }

        @media screen and (max-width: 768px) {
            background-size    : 14px;
            background-position: right 34px center;
        }
    }

    input[type="file"] {
        display: none;
    }

    textarea {
        min-height: 200px;
        padding   : 20px;
    }

    button {
        background: linear-gradient(90deg,
                rgba(254, 80, 0, 1) 0%,
                rgba(239, 75, 32, 1) 35%,
                #fb8f22);
        color        : var(--white-color);
        font-weight  : bold;
        display      : block;
        height       : 55px;
        border-radius: 50px;
        max-width    : 350px;
        cursor       : pointer;
        font-size    : 20px;
        margin-top   : 10px;
        transition   : all 0.2s ease;

        @media screen and (max-width: 768px) {
            padding    : 0px 20px;
            font-size  : 18px;
            line-height: 24px;
        }

        &:hover {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        }
    }

    .labelWrapper {
        display        : flex;
        justify-content: flex-end;
        position       : relative;
        z-index        : 2;
    }

    .label {
        width           : 214px;
        padding         : 22px 15px;
        background      : var(--orange-color);
        border-radius   : 20px;
        text-align      : center;
        line-height     : 24px;
        font-size       : 20px;
        color           : var(--white-color);
        // box-shadow   : 0px 2px 10px rgba(0, 0, 0, 0.16);
        font-family     : "DM Sans", sans-serif;
        font-weight     : 400;

        @media screen and (max-width: 768px) {
            padding    : 18px 15px;
            font-size  : 14px;
            line-height: 17px;
            width      : 145px;
        }
    }

    form {
        display       : flex;
        flex-direction: column;
        background    : #fafafa;
        border-radius : 15px;
        margin-right  : 28px;
        margin-top    : -55px;
        padding       : 85px 48px 35px 50px;
        position      : relative;
        z-index       : 1;

        @media screen and (max-width: 768px) {
            align-items: center;
            padding    : 25px;
            margin-top : -35px;
        }

        &>div>div {
            padding-left : 0px !important;
            padding-right: 0px !important;
        }
    }

    &.big {
        width  : 100%;
        padding: 0px;
        color  : var(--text-color);

        @media screen and (max-width: 768px) {
            padding    : 0px;
            padding-top: 0px;
            font-size  : 18px;
        }

        :global(.container) {
            min-height: auto;

            &>div {
                padding-top   : 0px;
                padding-bottom: 0px;
            }
        }

        input,
        textarea {
            width      : 100%;
            transition : all 0.2s ease;
            font-family: "DM Sans", sans-serif;

            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
        }

        textarea {
            padding-top : 15px;
            padding-left: 25px;
            min-height  : 160px;
            resize      : none;
        }

        button {
            margin   : 0 0px;
            font-size: 20px;
            padding  : 0px 40px;

            @media screen and (max-width: 768px) {
                font-size     : 18px;
                width         : 100%;
                text-align    : center;
                height        : auto;
                padding-top   : 8px !important;
                padding-bottom: 8px !important;
            }
        }

        h2 {
            margin   : 0 0 20px 10px;
            font-size: 42px;
        }

        form {
            margin-right: 0px;
            margin-top  : 0px;
            padding-top : 30px;

            @media screen and (max-width: 768px) {
                border-radius: 35px;
            }
        }

        form>div {
            margin-bottom: 20px;

            @media screen and (max-width: 768px) {
                margin-bottom: 0px;
            }
        }
    }

    &.loading {
        opacity       : 0.3;
        pointer-events: none;
    }
}

.success {
    color        : white;
    display      : flex;
    height       : 40px;
    align-items  : center;
    position     : fixed;
    bottom       : 20px;
    left         : 20px;
    font-weight  : bold;
    font-size    : 20px;
    padding      : 32px;
    padding-left : 22px;
    background   : linear-gradient(90deg, #fe5000 0%, #ef4b20 35%, #fb8f22);
    border-radius: 20px;
    z-index      : 9999999;

    @media screen and (max-width: 768px) {
        font-size: 18px;
    }

    svg {
        width       : 28px;
        fill        : white;
        margin-right: 20px;
    }
}

.small {
    &.form {
        .button {
            align-self : flex-end;
            margin-top : 30px;
            width      : 250px;
            font-family: "Circular Std";

            @media screen and (max-width: 768px) {
                margin-top: 30px;
                height    : 40px;
                width     : 100%;
            }
        }
    }

    form {
        @media screen and (max-width: 768px) {

            padding-top : 70px;
            margin-right: 0px;

        }


        input {
            @media screen and (max-width: 768px) {
                font-size: 16px;
                height   : 38px;
            }

        }

    }

}

.applicationForm {
    width       : 100%;
    margin-right: 30px;

    .label {
        @media screen and (max-width: 768px) {
            width: 155px;
        }
    }

    &.form {
        margin-top: -40px;
        padding   : 50px 0 20px 0;

        form {
            padding-top: 90px;

            .inputGroup {
                margin-bottom: 17px;
            }

            @media screen and (max-width: 768px) {
                padding-top : 70px;
                margin-right: 0;
            }
        }

        @media screen and (max-width: 992px) {
            margin-top: 15px;
        }

        @media screen and (max-width: 768px) {
            padding   : 0px;
            margin-top: 0px;

            input {
                width: 100%;
            }
        }

        .button {
            align-self : flex-end;
            margin-top : 30px;
            width      : 300px;
            max-width  : 100%;
            font-family: "Circular Std";

            @media screen and (max-width: 768px) {
                font-size: 16px;
                height   : 40px;
            }
        }
    }
}

.jobApplicationBig {
    :global(.container) {
        :global(.col6) {

            &:first-child {
                padding-right: 14px !important;

                @media screen and (max-width: 768px) {
                    padding-right: 0px !important;
                }

            }

            &:last-child {
                padding-left: 14px !important;

                @media screen and (max-width: 768px) {
                    padding-left: 0px !important;
                }

            }


        }
    }
}