.html {
    min-height: calc(100% + 370px);
    height    : calc(100% + 370px);
}

.mt {
    margin-bottom: 370px; // WAS 230px

    @media screen and (max-width: 1100px) {
        margin-bottom: 430px;
    }
}

.heroWrapperOutter {
    min-height: 600px;
    max-height: 1096px;
    height    : 100vh;

    .heroShapeMobile {
        position: absolute;
        top     : 0;
        left    : 0;
        z-index : 0;
        opacity : 0.9;
    }
}

.fixed {
    .heroWrapperOutter {
        min-height: calc(100vh + 470px);
    }
}

@media screen and (max-width: 1100px) {
    .heroShapeMobile {
        display: block !important;
    }

    .heroShape {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .heroShapeMobile {
        display: none !important;
    }
}

.heroWrapper {
    // width     : 100vw;
    height    : 100vh;
    min-height: 600px;
    max-height: 1096px;
    position  : relative;

    .heroContainer {
        display            : block;
        box-sizing         : border-box;
        background-size    : cover;
        background-repeat  : no-repeat;
        background-position: center;
        margin-top         : 370px;
        margin-bottom      : 370px;

        @media screen and (max-width: 1100px) {
            margin-top: 420px;

            :global(.button) {
                display: none;
            }

            :global(.container) {
                width: 100%;

                &>div {
                    width: 100%;
                }
            }
        }

        &.fixed {
            position  : fixed;
            width     : 100vw;
            margin-top: 0px;
        }

        :global(.container) {
            &>div {
                height     : 100vh;
                max-height : 1000px;
                min-height : 600px;
                display    : flex;
                align-items: center;

                @media screen and (max-width: 992px) {
                    height: 100%;

                    @media screen and (max-height: 800px) {
                        // align-items: flex-start;
                    }
                }
            }

            @media screen and (max-width: 992px) {}
        }

        .contentContainer {
            opacity: 0;
        }

        .textContainer {
            position          : absolute;
            display           : flex;
            align-items       : center;
            justify-content   : center;
            opacity           : 1;
            // transition     : opacity 0.5s ease, all 0s ease;
            max-width         : 600px;
            padding           : 100px 0px;
            padding-top       : 50px;


            &>div {
                width: 100%;
            }

            @media screen and (max-width: 1100px) {
                padding-right: 0px;
                left         : 0;
            }

            @media screen and (max-width: 992px) {
                max-width : 100%;
                height    : 100%;
                max-height: 100vh;

                &:global(#secondTextContainer) {
                    padding-top: 0px !important;

                    @media screen and (max-width: 768px) {
                        align-items: flex-start;
                        padding    : 0px 22px;
                        padding-top: 15vh !important;
                    }

                }

            }

            @media screen and (max-width: 768px) {
                align-items: flex-start;
                padding    : 0px 22px;
                padding-top: 15vh;
            }
        }

        h5 {
            color         : white;
            font-size     : 19.5px;
            line-height   : 59px;
            font-weight   : 100;
            text-transform: uppercase;
            margin-bottom : 0px;
            margin-top    : 54px;
            letter-spacing: 1pt;

            @media screen and (max-width: 768px) {
                font-size    : 14px;
                margin-top   : 50px;
                line-height  : 20px;
                margin-bottom: 30px;
            }

            @media screen and (max-width: 320px) {
                font-size : 14px;
                margin-top: 0px;
            }
        }

        .subheadline {
            color      : white;
            font-size  : 24px;
            line-height: 35px;
            font-weight: 100;
            margin-top : 33px;

            &.first {
                margin-bottom: 70px;

                @media screen and (max-width: 400px) {
                    margin-bottom: 30px;
                }
            }

            @media screen and (max-width: 768px) {
                font-size  : 18px;
                line-height: 24px;
                margin-top : 33px;
            }
        }

        h1 {
            color            : white;
            font-size        : 47px;
            // line-height   : 55px;
            text-transform   : none;

            @media screen and (max-width: 768px) {
                padding    : 0px 0px;
                font-size  : 29px;
                line-height: 36px;
            }
        }

        p {
            color    : white;
            font-size: 18px;
        }

        .content {
            width    : 100%;
            max-width: 600px;

            .textContainer {
                margin-top: 20px;

                @media screen and (max-width: 768px) {
                    padding: 0px 20px;
                }
            }
        }
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        display: flex;
        opacity: 1;
    }

    99% {
        display: flex;
        opacity: 0.01;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes fadeout {
    0% {
        display: flex;
        opacity: 1;
    }

    99% {
        display: flex;
        opacity: 0.01;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


.show {
    display          : flex;
    -webkit-animation: 0.5s ease 0.5s normal forwards 1 fadein;
    animation        : 0.5s ease 0.5s normal forwards 1 fadein;
}

.hide {
    display          : flex;
    -webkit-animation: 0.5s ease 0s normal forwards 1 fadeout;
    animation        : 0.5s ease 0s normal forwards 1 fadeout;
}

.animationContainer {
    position: absolute;
    top     : 360px; // was 220px

    @media screen and (max-width: 992px) {
        top: 420px;
    }

    left: 0px;

    &.mt {
        position: fixed;
        top     : 0px;
    }

    svg {

        // width: 100%;
        @media screen and (max-width: 992px) {
            margin-top: 10%;
        }


        .path {
            fill        : none;
            stroke      : #55433c;
            stroke-width: 7;

            @media screen and (max-width: 992px) {
                stroke-width: 5;
            }
        }

        .dot {
            fill: #ef4b20;
        }
    }
}