.overlay {
    width           : 100vw;
    height          : 100vh;
    display         : flex;
    background-color: rgba(0, 0, 0, 0.7);
    top             : 0px;
    left            : 0px;
    position        : fixed;
    overflow        : scroll;
    justify-content : center;
    align-items     : center;
    z-index         : 9999999;
    font-weight     : 200;

    @media screen and (max-height: 500px) {
        align-items: flex-start;
    }



    .container {
        width           : 100%;
        max-width       : 500px;
        background-color: white;
        padding         : 30px;
        border-radius   : 20px;

        .cookieNoticeButtonsContainer {
            text-align: center;
            margin-top: 20px;
        }

        .text {
            margin-bottom: 20px;
        }

        :global(.button) {
            // line-height: 20px !important;
        }

        h2 {
            margin-bottom: 20px;
        }

    }

    .buttons_container {
        text-align: center;
    }
}

input[type="checkbox"]+label {
    margin-right: 20px;
}

label {
    width         : 100%;
    vertical-align: top;
    display       : flex;
    align-items   : center;
    margin-bottom : 20px;

    .checkboxIconContainer {
        width       : 30px;
        height      : 30px;
        border      : 1px solid var(--black-color);
        display     : inline-block;
        margin-right: 10px;

        @media screen and (max-width: 687px) {
            width : 25px;
            height: 25px;
        }

        .checkboxIcon {
            width      : 20px;
            height     : 20px;
            display    : none;
            border     : 1.5px solid var(--green-color);
            margin-left: 4px;
            margin-top : 4px;

            @media screen and (max-width: 687px) {
                width : 15px;
                height: 15px;
            }

        }

    }



}

input[type="checkbox"] {
    display: none;

    &.error {
        &+label {
            color: red;
        }
    }

    +label {
        cursor: pointer;
    }

    &:checked+label .checkboxIcon {
        // background-image   : url("./icon_checkmark.png");
        display            : block;
        background-size    : 15px;
        background-position: center;
        background-repeat  : no-repeat;
    }

    &:disabled+label {
        opacity: 0.6;
    }
}