.row {
    justify-content: space-between;

    @media screen and (max-width: 992px) {
        @media screen and (max-height: 800px) {
            // justify-content: flex-start;
        }

        justify-content: center;
    }

    &.center-content {
        text-align: center;
    }

    &.small-breakpoint {

        @media screen and (max-width: 992px) and (min-width: 767px) {
            display              : grid;
            grid-template-columns: 50% 50%;
            grid-row-gap         : 80px;
        }

        &>div {
            @media screen and (max-width: 992px) and (min-width: 767px) {
                width: 100%;
            }
        }
    }

    .col6 {
        display    : flex;
        align-items: center;

        &>div {}

        h1,
        h2 {
            text-align: left;
        }

        p {
            max-width : 100%;
            text-align: left;
        }
    }

    &.text-container-75 {
        p {
            width: 75%;

            @media screen and (max-width: 1100px) {
                width: 100% !important;
            }
        }
    }
}

:global(.largerThanScreen) {
    @media screen and (max-width: 992px) {
        .row {
            justify-content: flex-start;
        }
    }
}