.emptyMessage {
    margin: 100px 0;
}

.splitWrapper {
    span {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 350;
    }

    h2 {
        font-size: 40px;
    }

    margin-top: 150px;
    margin-bottom: 70px;

    @media only screen and (max-width: 992px) {
        margin-top: 50px;
    }
}

.image, .placeholderImage {
    border-radius: 35px;
    box-shadow: 0 3px 6px #0000004b;
}

.infos {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 350;
    color: #55433c;
}

.bigPost {
    .infosWrapper {
        width: 60%;
    }

    .imageLink {
        width: 40%;
    }

    .image {
        width: 100%;
        max-width: 700px;
        object-fit: cover;
        min-height: 300px;
        max-height: 300px;
        flex-shrink: 0;
    }

    .placeholderImage {
        width: 100%;
        max-width: 700px;
        min-height: 300px;
        max-height: 300px;
        flex-shrink: 0;
        background-color: #F5F5F5;
    }

    h3 {
        font-size: 36px;
        margin-top: 10px;
        color: #404040;
    }

    a:has(h3) {
        text-decoration-color: #404040;
    }

    p {
        font-size: 18px;
        font-weight: 350;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    display: flex;
    gap: 100px;
    margin-bottom: 100px;
}

.smallPostsWrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 45px;
    justify-content: space-between;
}

.smallPost {

    .placeholderImage {
        background-color: #F5F5F5;
        width: 100%;
        height: 260px;
    }
    .imageWrapper {
        height: 260px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        padding: 25px 30px 0 30px;

        h3 {
            font-size: 30px;
            margin-top: 10px;
            color: #404040;
        }

        a {
            text-decoration-color: #404040;
        }

        p {
            font-size: 18px;
            font-weight: 350;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    width: 33%;
}

.buttonWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

@media only screen and (max-width: 992px) {

    .image, .placeholderImage, .imageWrapper {
        min-height: 200px !important;
        max-height: 200px !important;
    }

    .bigPost {
        flex-direction: column;
        gap: 30px;

        .infosWrapper, .image, .placeholderImage {
            width: 100%;
        }
    }

    .splitWrapper {
        h2 {
            line-height: 38px;
            margin-top: 10px;
        }
    }
    
    .smallPostsWrapper {
        flex-direction: column;

        .smallPost {
            width: 100%;

            .content {
                padding: 0;
                padding-top: 30px;
            }
        }
    }
}