.headlineContainer {
    opacity: 0;

    &.show {
        opacity: 1;
    }
}

.subTitle {
    font-size  : 16px;
    color      : #2e4518;
    line-height: 13px;

    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
}

h1,
h2,
h3 {
    margin: 0px;
}

h1.headline {
    font-size  : 45px;
    line-height: 50px;
}

h2.headline {
    font-size     : 36px;
    line-height   : 46px;
    letter-spacing: 0.2pt;
}

h3.headline {
    font-size  : 24px;
    line-height: 28px;
    font-weight: 700;

    @media screen and (max-width: 768px) {
        font-size    : 20px !important;
        line-height  : 26px !important;
        margin-bottom: 0;
    }
}

.headline {
    font-weight: normal;
    position   : relative;
    display    : inline-block;
    width      : 100%;

    @media screen and (max-width: 768px) {
        font-size    : 26px !important;
        line-height  : 33px !important;
        margin-bottom: 0;
    }

    &.stroke {
        &:before {
            border-top: 2px solid #abba58;
            position  : absolute;
            width     : 200px;
            margin-top: 30px;
            content   : "";
            z-index   : -1;
        }

        &.right {
            &:before {
                transform: translateX(100%);
                right    : -30px;
            }
        }

        &.left {
            &:before {
                transform  : translateX(-100%);
                margin-left: -30px;
            }
        }

        &.toEdge {
            &:before {
                width: 100vw;
            }
        }
    }
}