.career {
    background-color: #fafafa;
    border-radius   : 20px;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : space-between;
    max-width       : 530px;
    height          : 420px;
    padding         : 80px 50px 70px 50px;

    @media screen and (max-width: 992px) {
        max-width: 100%;
        width    : 100%;
    }

    @media screen and (max-width: 768px) {
        height : 270px;
        padding: 40px 40px 40px 40px;
    }

    svg {
        @media screen and (max-width: 768px) {
            width: 50px;
        }
    }

}

.title {
    font-size     : 24px;
    font-weight   : bold;
    text-align    : center;
    font-family   : "Circular Std";
    letter-spacing: 0.1pt;
    color         : var(--text-color);

    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
}

.items {
    display    : flex;
    align-items: center;

    a {
        background: rgb(254, 80, 0);
        background: linear-gradient(90deg,
                rgba(254, 80, 0, 1) 0%,
                rgba(239, 75, 32, 1) 35%,
                #fb8f22);
        width          : 74px;
        height         : 74px;
        display        : flex;
        border-radius  : 50%;
        align-items    : center;
        justify-content: center;
        margin-left    : -12px;
        position       : relative;
        transition     : all 0.3s;
        right          : 0px;

        @media screen and (max-width: 768px) {
            width : 50px;
            height: 50px;
            top   : 0px;
            right : 10px;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}

.profile {
    width        : 74px;
    height       : 74px;
    border-radius: 100%;

    &:first-child {}

    &:nth-child(2) {
        margin-left: -12px;
        box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.16);
    }
    &:nth-child(3) {
        margin-left: -12px;
        box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.16);
    }

    @media screen and (max-width: 768px) {
        width : 50px;
        height: 50px;
    }
}

.profiles {
    width            : 216px;
    height           : 100px;
    background       : url("./profiles.png") 0 7px;
    background-repeat: no-repeat;


    @media screen and (max-width: 768px) {
        background-size: contain;
        width          : 150px;
        height         : 60px;
    }
}