.lineAnimationWrapper {
	position: absolute;
	top: 0;
	left: 205px;
	width: calc(100% - 205px) !important;
	padding-top: 200px;
	min-height: 100%;
	overflow-y: hidden;
	z-index: 9999;
}
.path {
	stroke-dasharray: 9600;
	stroke-dashoffset: 9637;
	transition: all 0.1s;
}
.svg {
	position: absolute;
	top: 150px;
	left: 0;
}
.point,
.pointImage {
	position: absolute;
	transition: all 0.5s;
	left: 130px;
	opacity: 0;
}

.pointImage {
	box-shadow: 0px 0px 5px #00000017;
	width: 150px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 10px;
	background: #fff;
	left: 95px;
	margin-top: 0px;

	transform: scale(2) !important;

	img {
		height: 100%;
	}
}
.show {
	opacity: 1;
	transform: scale(1.4);
}
