.hero {
    padding-top: 0px;
    color      : var(--white-color);
    position   : relative;
    height     : auto;
    min-height : 700px;
    max-height : 1100px;
    display    : flex;

    @media screen and (max-width: 1100px) {
        padding-bottom: 50px;
    }

    @media screen and (max-height: 700px) {
        min-height: 100vh;
    }

    @media screen and (max-width: 992px) {
        max-height: none;
    }


    &.third {
        :global(.container) {
            align-items: flex-start;
        }
    }

    &.first {
        :global(.container) {

            &>div {
                width: 100%;
            }
        }
    }

    :global(.container) {
        min-height : 600px;
        max-height : 1000px;
        height     : 100vh;
        width      : 100%;
        align-items: center;

        @media screen and (max-height: 700px) {
            // padding-top: 100px;
        }

        :global(.row) {
            @media screen and (max-height: 768px) {
                justify-content: flex-start;
            }
        }


        :global(.container) {
            padding: 0px !important;

            &>div {
                padding: 0px !important;
            }

        }

        &>div {
            padding-top   : 100px;
            padding-bottom: 100px;
            min-height    : auto;
        }

        @media screen and (max-width: 1100px) {

            min-height: 100px;
            height    : 100%;

            &>div {
                padding-top   : 15px;
                padding-bottom: 15px;

                &:first-child {
                    padding-top: 100px;
                }
            }
        }

        @media screen and (max-width: 992px) {

            max-height: none;

            h1 {
                margin-bottom: 45px;
            }

        }

        @media screen and (max-width: 768px) {

            :global(.classic) {
                p {
                    font-size: 18px;
                }
            }

            :global(.straight) {
                p {
                    font-size: 16px;
                }
            }

            &>div {
                padding: 0px 20px;

                &:first-child {
                    padding-top: 0px;
                }

            }



        }
    }

    .wrapper {
        position      : relative;
        z-index       : 3;
        width         : 100%;
        // padding-top: 220px;

        h1 {
            margin-top   : 10px;
            margin-bottom: 30px;
            font-size    : 45px;
            line-height  : 50px;

            @media screen and (max-width: 768px) {
                font-size  : 28px !important;
                line-height: 36px !important;
            }
        }

        :global(.button) {
            margin-top: 70px;

            @media screen and (max-width: 400px) {
                margin-top: 50px;
            }

        }
    }

    .shape {
        display : block;
        position: absolute;
        top     : 0;
        left    : 0;

        @media screen and (max-width: 1100px) {
            display: none;
        }
    }

    .mobileShape {
        z-index : -1;
        display : none;
        position: absolute;
        top     : 0;
        left    : 0;

        @media screen and (max-width: 1100px) {
            display: block;
        }
    }
}