.item {
    display           : flex;
    align-items       : flex-end;
    justify-content   : space-between;
    max-width         : 525px;
    margin-bottom     : 34px;
    --animate-duration: 1.5s;
    opacity           : 0;

    @media screen and (max-width: 992px) {
        max-width: 100%;
        width    : 100%;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 26px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .text {
        width           : 100%;
        min-width       : calc(50% - 50px);
        max-width       : 500px;
        min-height      : 70px;
        background-color: #FFFFFF;
        color           : var(--text-color);
        border-radius   : 20px 20px 0 20px;
        font-size       : 20px;
        font-weight     : 400;
        padding         : 20px 28px;
        box-shadow      : 0px 2px 15px rgba(0, 0, 0, 0.16);

        @media screen and (max-width: 992px) {
            max-width  : 100%;
            width      : 100%;
            padding    : 21px 36px;
            line-height: 28px;
        }

        @media screen and (max-width: 768px) {
            font-size  : 16px;
            line-height: 24px;
            padding    : 14px 18px;
        }
    }

    img {
        margin-left: 44px;
        display    : inline-block;
        width      : 67px;
        height     : 67px;

        @media screen and (max-width: 992px) {
            margin-left: 20px;
        }

        @media screen and (max-width: 768px) {
            width      : 50px;
            height     : 50px;
            margin-left: 30px;
        }
    }
}

.container {
    // opacity: 0;
}

.secondStyle {
    min-width      : 100%;
    display        : flex;
    justify-content: flex-end;

    &:nth-child(2n+1) {
        justify-content: flex-start;
    }

    &.item {


        .text {

            @media screen and (max-width: 992px) {
                max-width  : 100%;
                width      : calc(100% - 180px);
                padding    : 21px 30px;
                line-height: 26px;
            }

            @media screen and (max-width: 768px) {
                font-size  : 16px;
                line-height: 24px;
                padding    : 14px 18px;
                width      : 100%;
            }



        }

        img {
            margin-left: 40px;

            @media screen and (max-width: 992px) {
                margin-left: 20px;
            }
        }

        &:nth-child(2n+1) {

            img {
                order       : 1;
                margin-left : 0;
                margin-right: 40px;

                @media screen and (max-width: 992px) {
                    margin-right: 20px;
                }

            }

            div {
                order        : 2;
                border-radius: 20px 20px 20px 0;
            }
        }
    }
}

.show {
    opacity: 1;
}