.item {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	max-width: 500px;
	margin-bottom: 25px;
	--animate-duration: 1.5s;

	.text {
		width: 100%;
		margin-right: 30px;
		min-height: 70px;
		background-color: #fafafa;
		border-radius: 10px 10px 0 10px;
		font-size: 20px;
		padding: 15px 20px; // was 20px 15px
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.16);

		@media screen and (max-width: 992px) {
			font-size: 18px;
		}
	}
}

.container {
	opacity: 0;
}

.show {
	opacity: 1;
}
