.hero-small-form {
	position: relative;
	top: 210px;
}
.hide-mobile {
	@media screen and (max-width: 1320px) {
		display: none;
	}
}

.blog-content {
	margin-top: 50px;
	p {
		margin-top: 35px;
		margin-bottom: 35px;
		font-weight: 350;
	}

	.wp-block-image {
		margin: 0;
		margin-top: 35px;
		img {
			border-radius: 35px;
		}
	}

	figcaption {
		font-weight: 350 !important;
		text-transform: uppercase;
		font-size: 18px;
		margin-top: 10px;
		margin-left: 20px;
	}

	@media only screen and (max-width: 992px) {
		margin-top: 0;
	}
}
