@font-face {
	font-family: "Circular Std";
	src: local("Circular Std Medium"), local("Circular-Std-Medium"),
		url("../fonts/CircularStd-Medium.woff2") format("woff2"),
		url("../fonts/CircularStd-Medium.woff") format("woff"),
		url("../fonts/CircularStd-Medium.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Book.eot");
	src: url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
		url("../fonts/CircularStd-Book.woff2") format("woff2"),
		url("../fonts/CircularStd-Book.woff") format("woff"),
		url("../fonts/CircularStd-Book.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/*
//Manuelles Einbinden der Google Fonts
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/rP2Ap2ywxg089UriCZaw7ByWB3wTyCg.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/rP2Ap2ywxg089UriCZaw7ByWCXwT.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rP2Hp2ywxg089UriCZ2IHSeH.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rP2Hp2ywxg089UriCZOIHQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/rP2Cp2ywxg089UriAWCrCBamC2QX.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/rP2Cp2ywxg089UriAWCrCBimCw.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*/

/*
Alte Version, nicht DSGV-konform
 @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,500&display=swap");
*/

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/DMSans-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/DMSans-Medium.ttf");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/DMSans-MediumItalic.ttf");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
