.footer {
    font-weight   : 400;
    padding       : 23px 0 40px 0;

    @media screen and (max-width: 992px) {
        padding-top: 28px;
    }

    @media screen and (max-width: 768px) {
        padding-top: 20px;
    }

    a,
    p {
        color      : var(--text-color);
        font-family: "Circular Std";
        transition : 0.2s ease opacity;
        font-size  : 18px;

        &:hover {
            text-decoration: none;
            opacity        : 0.7;
        }
    }

    ul {
        list-style: none;
        padding   : 0;
        margin    : 0;

        li {
            margin : 0;
            display: block;
        }
    }

    .container {
        &>div {
            dispay         : flex;
            flex-direction : column;
            justify-content: space-between;
            align-items    : center;
        }
    }

    .menu {
        display    : flex;
        align-items: center;

        p,
        a {
            display       : block;
            margin-right  : 46px;
            letter-spacing: 0;

            @media screen and (max-width: 992px) {
                margin-right : 0px;
                margin-bottom: 16px;
            }
        }

        @media screen and (max-width: 992px) {
            flex-direction: column;

            .contactsInfo {
                margin-left: 0 !important;
            }
        }
    }

    .bottomFooter {
        margin-top    : 36px;
        font-size     : 16px;
        letter-spacing: 0;
        font-family   : "Circular Std";
        font-weight   : 400;

        * {
            color: #919191;

            @media screen and (max-width: 992px) {
                justify-content: center;
            }
        }

        @media screen and (max-width: 992px) {
            margin-top: 56px;
        }

        @media screen and (max-width: 768px) {
            margin-top : 24px;
            font-size  : 16px;
            line-height: 18px;
            text-align : center;
        }

    }

    :global(.social) {

        @media screen and (max-width: 992px) {
            text-align     : center;
            width          : 100%;
            justify-content: center;
            margin-top     : 20px;
        }

        @media screen and (max-width: 768px) {
            justify-content: space-between;
            margin-top     : 25px;
            padding        : 0px 25px;
        }

        svg {
            @media screen and (max-width: 768px) {
                width: 25px;
            }
        }
    }
}