.header {
    position       : fixed;
    width          : 100%;
    height         : 128px;
    z-index        : 100;
    transition     : all 0.3s;
    top            : 0px;
    left           : 0px;
    justify-content: space-between;
    align-items    : center;
    z-index        : 9999;

    @media screen and (max-width: 1320px) {
        display: flex;
    }

    @media screen and (max-width: 1100px) {
        margin-top  : 35px;
        padding-left: 0px;
    }

    @media screen and (max-width: 768px) {
        margin-top : 50px;
        align-items: flex-start;
    }

    .logo {
        min-width: auto;

        @media screen and (max-width: 768px) {
            max-width: 80%;
        }

        img {
            @media screen and (max-width: 768px) {
                margin-left: 20px;
                width      : 230px;
                height     : auto;
                min-width  : auto;
                max-width  : 100%;
            }
        }

    }

    &.menu {
        @media screen and (max-width: 1100px) {
            top: 40px;
        }

        @media screen and (max-width: 768px) {}

    }

    .container {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        height         : 100%;

        @media screen and (max-width: 1320px) {
            flex-direction: row;
        }

        &>div {
            min-height : 100%;
            align-items: center;
            display    : flex;

            @media screen and (max-width: 1320px) {
                height: 100%;
                margin: 0;
            }

            @media screen and (max-width: 768px) {
                align-items: flex-start;
            }
        }
    }

    &.inactive {
        &.white {
            :global(.button) {
                background-color: white !important;
                background      : white !important;
                color           : #FE5000 !important;
            }
        }
    }

    &.active {
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);

        @media screen and (max-width: 1100px) {
            margin-top  : 0px;
            padding-left: 0px;
        }

        @media screen and (max-width: 768px) {
            margin-top  : 0px;
            padding-left: 0px;
        }

        .mobileLogo {
            top: 4px;
        }

        a {
            color: #f74f10;

            &.link {

                &:hover,
                &.current {
                    border-bottom: 3px solid #f74f10;
                }
            }
        }

        .hamburger {
            color: #f74f10;
        }

        .container {

            &>div {
                @media screen and (max-width: 768px) {
                    align-items: center;
                }
            }

        }

        .menuSecondary {
            @media screen and (max-width: 768px) {
                margin-top: -8px;
            }
        }
    }

    &.menu {
        background-color: transparent;
        box-shadow      : none;

    }

    @media screen and (max-width: 1100px) {
        height: 52px;

        a {
            color: orange !important;
        }
    }
}

.hamburger {
    color     : white;
    font-size : 30px;
    display   : block;
    transition: 0.2s ease all;
}

.logo {
    min-height : 100%;
    min-width  : 275px;
    display    : flex;
    align-items: center;
    transition : 0.3s ease all;

    img {
        height: 37px;
        width : 275px;
    }
}

.menu {
    font-weight    : bold;
    font-size      : 20px;
    list-style     : none;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 0;
    margin         : 0;
    letter-spacing : 0.1pt;

    @media screen and (max-width: 1320px) {
        margin: 0;
        width : 100%;
    }

    li {
        margin-right: 70px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: white;

        &.link {
            border-bottom: 3px solid transparent;
            padding      : 3px 0px;
            transition   : border 0.2s ease;
            font-family  : "Circular Std";

            &:hover,
            &.current {
                padding        : 3px 0px;
                border-bottom  : 3px solid white;
                text-decoration: none;
            }
        }
    }
}

.menuSecondary {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}