//*===GLOBAL STYLES START===*//
:root {
    --black-color        : #000000;
    --white-color        : #ffffff;
    --white-yellow-color : #faf3d9;
    --gray-color-600     : #2a2c2b;
    --gray-color-500     : #484848;
    --gray-color-400     : #bcbcbc;
    --gray-color-300     : #00000029;
    --gray-color-200     : #0000001f;
    --mint-color         : #e4f8ef;
    --orange-color       : #fe5000;
    --text-color         : #404040;
}

body {
    margin          : 0;
    padding         : 0;
    border          : none;
    font-size       : 22px;
    font-weight     : 500;
    background-color: var(--white-color);
    font-family     : "DM Sans", sans-serif;
    letter-spacing  : 0;
    color           : #404040;

    @media screen and (max-width: 768px) {
        font-size  : 18px;
        line-height: 24px;
    }
}

img {
    max-width: 100%;
}

p {
    font-size  : 22px;
    line-height: 28px;

    @media screen and (max-width: 768px) {
        font-size  : 18px;
        line-height: 24px;
    }
}

main.sidemenu>.container:not(.fullwidth) {
    // padding-left: 200px !important;

    @media screen and (max-width: 1500px) {
        padding-left: 200px !important;
    }

    @media screen and (max-width: 992px) {
        padding-left: 0px !important;
    }
}

* {
    border    : none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    width    : 100%;
    padding  : 0 15px;
    margin   : 0 auto;
    display  : flex;

    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        max-width     : 702px;
    }

    // &.bg_right {
    //     &::after {
    //         position: absolute;
    //         right   : auto;
    //         left    : 0px;
    //         content: '';
    //         z-index: -1;w
    //         background-image: inherit;
    //     }
    // }

    &.padding-right-10 {
        padding-right: 10% !important;

        @media screen and (max-width: 768px) {
            padding-right: 0px !important;
        }
    }

    &.fluid,
    &.fullwidth {
        max-width: 100%;
        width    : 100%;
        padding  : 0 0;

        &>div:first-child {
            padding-left: 0px;
        }

        &>div:last-child {
            padding-right: 0px;
        }

        >div {
            @media screen and (max-width: 992px) {
                padding-left : 0px !important;
                padding-right: 0px !important;
            }
        }
    }

    &.centered {
        align-items: center;
    }

    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6,
    .col7,
    .col8,
    .col9,
    .col10,
    .col11,
    .col12 {
        // padding-left: 25px;
        // padding-right: 25px;
        box-sizing   : border-box;
        position     : relative;
        min-height   : inherit;
        display      : flex;
        padding-left : 10px;
        padding-right: 10px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        @media screen and (max-width: 992px) {
            width           : 100% !important;
            padding-left    : 0px !important;
            padding-right   : 0px !important;
            // margin       : auto;
            margin-bottom   : 15px;
        }

        @media screen and (max-width: 768px) {
            padding-left : 20px !important;
            padding-right: 20px !important;
        }

        @media screen and (max-width: 1100px) {
            min-height: auto;
        }
    }

    .col1>div,
    .col2>div,
    .col3>div,
    .col4>div,
    .col5>div,
    .col6>div,
    .col7>div,
    .col8>div,
    .col9>div,
    .col10>div,
    .col11>div,
    .col12>div {
        width        : 100%;
        // min-height: inherit;
    }

    // .container > div:first-child {
    // 	padding-left: 0px;

    // 	@media screen and (max-width: 992px) {
    // 		padding-left: 20px;
    // 	}
    // }

    // .container > div:last-child {
    // 	padding-right: 0px;

    // 	@media screen and (max-width: 992px) {
    // 		padding-right: 20px;
    // 	}
    // }

    // .container.colspace_wide > div {
    // 	padding-left: 25px;
    // 	padding-right: 25px;
    // }

    &.fullheight>div {
        min-height: 100vh;
    }

    &.vertical_top>div,
    &.vertical_top>div {
        align-items: flex-start;
    }

    &.vertical_center,
    &.vertical_center>div {
        align-items: center;
    }

    &.vertical_bottom,
    &.vertical_bottom>div {
        align-items: flex-end;
    }

    &.container>div {
        min-height: unset;
    }

    &.vertical_top>div>div,
    &.vertical_center>div>div,
    &.vertical_bottom>div>div {
        min-height: auto;
    }

    .col1 {
        width: calc(100% / 12);
    }

    .col2 {
        width: calc(100% / 12 * 2);
    }

    .col3 {
        width: calc(100% / 12 * 3);
    }

    .col4 {
        width: calc(100% / 12 * 4);
    }

    .col5 {
        width: calc(100% / 12 * 5);
    }

    .col6 {
        width: calc(100% / 2);
    }

    .col7 {
        width: calc(100% / 12 * 7);
    }

    .col8 {
        width: calc(100% / 12 * 8);
    }

    .col9 {
        width: calc(100% / 12 * 9);
    }

    .col10 {
        width: calc(100% / 12 * 10);
    }

    .col11 {
        width: calc(100% / 12 * 11);
    }

    .col12 {
        width: calc(100%);
    }

    // @media screen and (max-width: 992px) {
    // 	.container > div:last-child,
    // 	.container > div:first-child {
    // 		padding-left: 20px;
    // 		padding-right: 20px;
    // 	}
    // }
}

.clearfix {
    &:before {
        content: "";
        display: table;
        clear  : both;
    }
}

h2 {}

h3 {}

p {
    margin: 0;
}

a {
    color          : var(--orange-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    background: none;
    outline   : none;
}

//*===GLOBAL STYLES END===*//

//*===MODAL WINDOW STYLES===*//
$animation-speed   : 0.3s;
$animation-function: ease-out;
$backdrop-color    : rgba(0, 0, 0, 0.5);

@keyframes modal-video {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal-video-inner {
    from {
        transform: translate(0, 100px);
    }

    to {
        transform: translate(0, 0);
    }
}

.modal-video {
    position                 : fixed;
    top                      : 0;
    left                     : 0;
    width                    : 100%;
    height                   : 100%;
    background-color         : $backdrop-color;
    z-index                  : 1000000;
    cursor                   : pointer;
    opacity                  : 1;
    animation-timing-function: $animation-function;
    animation-duration       : $animation-speed;
    animation-name           : modal-video;
    -webkit-transition       : opacity $animation-speed $animation-function;
    -moz-transition          : opacity $animation-speed $animation-function;
    -ms-transition           : opacity $animation-speed $animation-function;
    -o-transition            : opacity $animation-speed $animation-function;
    transition               : opacity $animation-speed $animation-function;
}

.modal-video-effect-exit {
    opacity: 0;

    & .modal-video-movie-wrap {
        -webkit-transform: translate(0, 100px);
        -moz-transform   : translate(0, 100px);
        -ms-transform    : translate(0, 100px);
        -o-transform     : translate(0, 100px);
        transform        : translate(0, 100px);
    }
}

.modal-video-body {
    max-width: 940px;
    width    : 100%;
    height   : 100%;
    margin   : 0 auto;
    display  : table;
}

.modal-video-inner {
    display       : table-cell;
    vertical-align: middle;
    width         : 100%;
    height        : 100%;
}

.modal-video-movie-wrap {
    width                    : 100%;
    height                   : 0;
    position                 : relative;
    padding-bottom           : 56.25%;
    background-color         : #333;
    animation-timing-function: $animation-function;
    animation-duration       : $animation-speed;
    animation-name           : modal-video-inner;
    -webkit-transform        : translate(0, 0);
    -moz-transform           : translate(0, 0);
    -ms-transform            : translate(0, 0);
    -o-transform             : translate(0, 0);
    transform                : translate(0, 0);
    -webkit-transition       : -webkit-transform $animation-speed $animation-function;
    -moz-transition          : -moz-transform $animation-speed $animation-function;
    -ms-transition           : -ms-transform $animation-speed $animation-function;
    -o-transition            : -o-transform $animation-speed $animation-function;
    transition               : transform $animation-speed $animation-function;

    & iframe {
        position: absolute;
        top     : 0;
        left    : 0;
        width   : 100%;
        height  : 100%;
    }
}

.modal-video-close-btn {
    position  : absolute;
    z-index   : 2;
    top       : -35px;
    right     : -35px;
    display   : inline-block;
    width     : 35px;
    height    : 35px;
    overflow  : hidden;
    border    : none;
    background: transparent;

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:before,
    &:after {
        content      : "";
        position     : absolute;
        height       : 2px;
        width        : 100%;
        top          : 50%;
        left         : 0;
        margin-top   : -1px;
        background   : #fff;
        border-radius: 5px;
        margin-top   : -6px;
    }
}

//*===END MODAL WINDOW STYLES===*//
//*===START SLIDER STYLES===*//

.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
    border: none !important;
}

h1 {
    font-size    : 30px;
    margin-bottom: 20px; // Was 20px
    font-weight  : 200;

    @media screen and (max-width: 768px) {
        font-size  : 28px;
        line-height: 36px;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Circular Std";
}

label {
    width         : 100%;
    vertical-align: top;

    .checkboxIcon {
        width       : 20px;
        height      : 20px;
        display     : inline-block;
        border      : 1.5px solid #abba58;
        margin-right: 10px;
    }
}

.content-box {
    padding-top   : 50px !important;
    padding-bottom: 50px !important;
}

@media screen and (max-width: 992px) {
    .reverse-mobile {
        flex-direction: column-reverse;
    }
}

.mt-top-70-m {
    @media screen and (max-width: 992px) {
        margin-top: 70px;
    }
}

.pb-bot-100 {
    padding-bottom: 100px !important;
}

//input,
//textarea {
//
//    border     : 1.5px solid #ABBA58;
//    width      : 100%;
//    margin-top : 10px;
//    font-size  : inherit;
//    font-family: inherit;
//
//    &.error {
//        border-color: red;
//    }
//
//    &[type="checkbox"] {
//        display: none;
//
//        &.error {
//            &+label {
//                color: red;
//            }
//        }
//
//        +label {
//            cursor: pointer;
//        }
//
//        &:checked+label .checkboxIcon {
//            background-size    : 15px;
//            background-position: center;
//            background-repeat  : no-repeat;
//        }
//
//        &:disabled+label {
//            opacity: 0.6;
//        }
//    }
//
//    &[type="submit"] {}
//
//}
//
//input {
//    padding: 20px;
//}
//
//textarea {
//    padding   : 20px;
//    min-height: 200px;
//}