.container {
    width     : 100%;
    height    : auto;
    color     : var(--white-color);
    // padding: 50px;
    margin    : 0px !important;
    font-size : 24px;


    &.card {
        background-color: white;
        border-radius   : 20px;
        box-shadow      : 0px 0px 10px rgba(0, 0, 0, 0.16);
        color           : var(--text-color);
        padding         : 50px;

        a,
        p {
            color      : #1D1D1D !important;
            font-weight: 100;
        }
    }



    a,
    p {
        color      : white !important;
        font-size  : 24px;
        line-height: 32px;
        font-weight: 100;

        @media screen and (max-width: 768px) {
            font-size  : 18px;
            line-height: 25px;
        }
    }

    @media screen and (max-width: 992px) {
        padding: 0px;
    }

    @media screen and (max-width: 768px) {
        font-size  : 18px;
        line-height: 0px;
    }


    div {
        margin: 0px !important;
    }

    h2 {
        color: #1D1D1D;
    }

    .contentWrapper {
        display   : flex;
        width     : 100%;
        margin-top: 20px !important;

        @media screen and (max-width: 992px) {
            flex-direction: column;
        }

        @media screen and (max-width: 768px) {
            margin-top: 0px !important;
        }

        .containerLeft {
            width: 100%;

            .textContainer {
                color         : #1D1D1D;
                position      : relative;
                display       : flex;
                line-height   : 35px;
                padding-bottom: 20px;

                &:first-child {
                    .iconContainer {
                        svg {
                            @media screen and (max-width: 768px) {
                                width: 14px !important;
                            }
                        }
                    }

                    padding-bottom: 30;

                    @media screen and (max-width: 768px) {
                        padding-bottom: 0;
                    }
                }

                &:nth-child(2) {



                    .iconContainer {
                        svg {
                            @media screen and (max-width: 768px) {
                                width: 12px !important;
                            }
                        }
                    }

                    @media screen and (max-width: 768px) {

                        margin-top: 10px !important;

                        a {
                            display: block;

                            &:nth-child(2) {
                                margin-top: 3px;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .iconContainer {
                        svg {
                            @media screen and (max-width: 768px) {
                                width: 20px !important;
                            }
                        }
                    }

                    padding-bottom: 20px;

                    @media screen and (max-width: 768px) {
                        padding-bottom: 0;
                        padding-bottom: 0px;

                    }

                }

                .iconContainer {
                    display      : inline-block;
                    width        : 40px;
                    padding-right: 10px;
                    padding-top  : 5px;

                    @media screen and (max-width: 768px) {
                        width: 20px;
                    }
                }

                .contentContainer {
                    display        : block;
                    // padding-top : 10px;
                    padding-left   : 20px;
                }

            }
        }

        .containerRight {
            width: 50px;

            a {
                width          : 40px;
                height         : 40px;
                border-radius  : 100%;
                background     : linear-gradient(90deg, #fe5000 0%, #ef4b20 35%, #FB8F22);
                color          : #fff;
                display        : flex;
                align-items    : center;
                justify-content: center;
                margin-bottom  : 20px !important;
                transition     : all 0.2s ease;

                &:hover {
                    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
                }

                svg {
                    width     : 45%;
                    max-height: 45%;
                }
            }

            @media screen and (max-width: 992px) {
                width      : 100%;
                display    : flex;
                padding-top: 20px;

                a {
                    margin-right : 20px;
                    margin-bottom: 0px !important
                }
            }
        }
    }

}