.container {

    width           : 100%;
    padding         : 0px;
    background-color: white;
    box-shadow      : 0px 1px 15px rgba(0, 0, 0, 0.16);
    display         : inline-block;
    border-radius   : 28px;
    margin-top      : 40px;

    @media screen and (max-width: 768px) {
        margin-top: 30px;
    }


    .row {
        display      : flex;
        align-items  : center;
        padding      : 20px;
        padding-left : 60px;
        position     : relative;
        border-bottom: 3px solid #FAFAFA;
        transition   : background-color 0.2s ease;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding       : 35px;
            padding-left  : 15px;
            align-items   : center;
            border-bottom : 5px solid #FAFAFA;
        }

        &:first-child {
            border-top-left-radius : 28px;
            border-top-right-radius: 28px;
        }

        &:last-child {
            border-bottom             : 0px solid #FAFAFA;
            border-bottom-left-radius : 28px;
            border-bottom-right-radius: 28px;
        }

        .col {
            width      : 100%;
            font-family: 'Circular Std';
            color      : var(--text-color);
            font-weight: 700;
            font-size  : 24px;

            @media screen and (max-width: 768px) {
                font-size: 21px;
            }

            &:nth-child(2) {
                width       : 75%;
                padding-left: 100px;

                @media screen and (max-width: 992px) {
                    width        : 62%;
                    padding-left : 70px;
                    margin-bottom: 10px;
                }

                @media screen and (max-width: 768px) {
                    margin-bottom: 6px;
                }
            }

            &:nth-child(3) {
                width       : 25%;
                padding-left: 15px;

                @media screen and (max-width: 992px) {
                    width        : 38%;
                    padding-left : 0px;
                    margin-bottom: 10px;
                }

                @media screen and (max-width: 768px) {
                    padding-left : 70px;
                    width        : 100%;
                    margin-bottom: 0px;
                }
            }

            // &:nth-child(3) {
            //     width: 25%;

            //     @media screen and (max-width: 1100px) {
            //         width: 100% !important;
            //     }
            // }

            // &:nth-child(4) {
            //     width: 25%;

            //     @media screen and (max-width: 1100px) {
            //         width: 100% !important;
            //     }
            // }

            @media screen and (max-width: 768px) {
                width: 100% !important;
            }
        }

        .arrowCol {
            width     : 18px;
            position  : absolute;
            left      : 70px;
            transition: 0.2s ease all;

            @media screen and (max-width: 992px) {
                left: 60px;
            }

            @media screen and (max-width: 768px) {
                left: 32px;
                top : calc(50% - 15px);
            }
        }

        &:hover {
            text-decoration : none;
            background-color: #FAFAFA;

            .arrowCol {
                left: 80px;

                @media screen and (max-width: 992px) {
                    left: 70px;
                }

                @media screen and (max-width: 768px) {
                    left: 35px;
                }

            }
        }

    }

}