.video {
    color     : #1D1D1D;
    text-align: center;



    video {
        -webkit-mask-image         : -webkit-radial-gradient(white, black);
        mask-image                 : radial-gradient(white, black);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility   : hidden;
        backface-visibility        : hidden;
        -webkit-appearance         : none;
        width                      : 100%;
        border                     : none;
        outline                    : none !important;
        box-shadow                 : none;


        @media screen and (max-width: 992px) {
            float: none !important;
        }
    }
}

.replayButton {
    font-size : 22px;
    cursor    : pointer;
    visibility: hidden;
    transition: visibility 0.5s;

    &.active {
        visibility: visible
    }
}

.videoBorderHideWrapper {
    overflow: hidden;
    position: relative;

    &::after {
        width           : calc(100% - 2px);
        height          : calc(100% - 2px);
        background-color: transparent;
        border          : 2px solid white;
        display         : block;
        position        : absolute;
        top             : -1px;
        left            : -1px;
        content         : '';
    }


    video {
        transform: scale(1);
        position : relative;
    }
}